@import "css/variables.import.scss";
@import "css/emoji.import.scss";
@import "{poetic:materialize-scss}/sass/materialize.scss";

h1 {
  font-weight:600;
}

.parallax-container {
  height: auto;
  h1,h2,h3,h4,h5,h6{
    text-shadow: 0 1px 0 white;
  }
}

#welcome-parallax-container {
  height: 300px;
}

#body-parallax-container {
  height: 100px;
}

.nonparallax-container {
  .card-panel {
    margin:0;
    overflow: hidden;
  }
}
